<div>
    <div class="container">
        <div class="spinner"><img ng-src="Content/background/spinner2.gif" /></div>
        <div ng-repeat="img in data" class="prev" ng-class="{full:img.isPrew, prev:!img.isPrew}">
            <h4 class="image-name" ng-show="img.isPrew">{{img.Name}}</h4>
            <div class="imgWrapper">
                <img src="{{img.Url}}" ng-click="clearClassFull($index); img.isPrew = !img.isPrew"/>
                <div class="description" ng-show="img.isPrew">
                    <h5>Description:</h5>
                    {{img.Description}}
                    <div ng-show="img.IsTradable">
                        <div ng-hide="img.IsBought">
                            <h5>Price: {{img.Price}}$</h5>
                            <button ng-click="addToCart(img)">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="image-date" ng-show="img.isPrew">{{img.CreationDate | date:'dd-M-yyyy'}}</h5>
        </div>
    </div>
</div>